@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@500&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Text', 'Sans-serif';
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006494;
}

.container-todo{
    display: flex;
    position: relative;
    width: 80%;
    height: 80vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    border-radius: 20px;
    border-radius:30px;
}
.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a174c5d7;
    padding: 3rem;
    border-radius: 0 30px 30px 0;
}


.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(200, 200, 243);
    padding: 3rem;
    border-radius: 30px 0px 0px 30px;
}

.logoCaixa{
    text-align: center;
}

.logo {
    width: 4.6em;
    margin: 10px;
    position:relative;
    top: 0px;
    cursor: pointer;
}

h2 {
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    
}

.login-button {
    text-align: center;
}

.login-button button {
    
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    color: white;
    background-color: rgb(89, 89, 173) ;
    font-size: 14px;
    letter-spacing: .6px;
    transition: .1s;
}

.login-button button:hover {
    transform: scale(0.95,0.95);
    background-color: #191970 ;
}

/* .login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #efeef5;
} */

.voltar-button button {
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    color: white;
    background-color: rgb(89, 89, 173) ;
    font-size: 14px;
    letter-spacing: .6px;
    transition: .1s;
}

.voltar-button button:hover {
    transform: scale(0.95,0.95);
    background-color: #191970 ;
}

.voltar-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #efeef5;
}

.btn-apagar{
    margin-bottom: 20px;
}

.btn-voltar{
    float: right;
    margin-top: 20px;
}

.input-box{
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
    margin-right: 20px;
}

.input-box:last-child{
    margin-right: 0;  
}

.input-box input{ 
    padding: 10px 0;
    position:relative;
    width: 100%;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #006494;
    margin-bottom: 7px;
    font-size: 16px;
    
}

.id::placeholder {
    color: black;
}
.inputbox-id{
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
    margin-bottom: 10px;
}

.id{
    padding: 10px 0;
    position:relative;
    width: 40%;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #006494;
    margin-bottom: 7px;
    font-size: 16px;
}

.input-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .7s;
    display: none;
}

.grid{
    display: flex;
    justify-content: spacing-between;
    width: 94.5%;
    
}

.fa-eye{
    position: absolute;
    top: 14px;
    right: 2px;
    color: black;
    cursor: pointer;
}

#checkboxLabel{
    font-size:14px;
    color: #006494;
    margin-top: 10px;
    margin-bottom: -10px;
}

.form p{
    color: grey;
    font-weight: 300;
    margin-top: 0.5em;
    font-size: 0.95em;
    
}

.container p{
    margin-bottom: 10px;
}
form .link-login{
    text-decoration: none;
    font-weight: 500;
    font-size: 0.98em;
    font-style: normal;
    text-align: center;  
    color: #2D0068 ;
    
}

.caixaLogin{
    text-align: center;
}


/* Responsividade */

@media (max-width:1090px){
    .container-todo{
        display:inline;
        height: 98%;
    }
    .container{
        width: 100%;
        height: 50%;
        border-radius:0 0 30px 30px ;
    }
    .form{
        width: 100%;
        height: 50%;
        border-radius:30px 30px 0 0 ;
    }
    
}


@media (max-width: 812px){
    .container-todo{
        height: 98%;
    }
    .container{
        justify-content: center;
        align-items: center;
    }
    .form {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .form .logo{
         width: 3.7em;
    }

    .grid{
        display: inline;
    }
    .input-box{
        width: 100%;
        margin: auto;
    }    
}

@media (max-width:600px){
    h2{
        overflow-y: visible;
    }
    *{
        overflow-y: auto;
    }
    .btn-voltar{
        overflow-y: visible;
    }

}
@media (max-width:340px){
   .form h2{
    font-size: 15px;
   }

}

/* msg erro da senha */

.errorCampos{
    position: relative;
    color: red;
    text-align: center;
    margin-bottom: 2px;
    border: 1px solid red;
    padding: 10px;
    letter-spacing: 1.0px;
    border-radius: 5px;
    display: none;
}
.idvazio{
    position: relative;
    color: red;
    text-align: center;
    margin-bottom: 2px;
    border: 1px solid red;
    padding: 10px;
    letter-spacing: 1.0px;
    border-radius: 5px;
    display: none;
}